
body{
    Background-image:Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    
    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.liste{
    float:right;
}
.image{
    display: inline-block;
}
.liste>li{
     margin-left:  100px;
    font-size:150%;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
    
}
.liste>li>a {
    color:white;
}
.now{
    color: white
    font-size:150%;
}
h3 {
    color: white;
    font-size:150%;
    letter-spacing: 2px;
    font-weight: bold;

}
h2 {
    color: white;
    font-size:200%;
    letter-spacing: 2px;
    font-weight: bold;

}
.long>img{
    padding-left: 30px;
}
#spes{
    display:inline-block block;
}
.course{
    display: inline-block;
}